#adminmenu .wp-menu-image {
	display: none;
}

/* Show the admin menu icons when the menu is collapsed */
.folded #adminmenu .wp-menu-image {
	display: inline;
}

@media only screen and (max-width:900px) {
	#adminmenu .wp-menu-image {
		display: inline;
	}
}

#adminmenu div.wp-menu-name {
	padding-left: 12px;
}
